<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Add New Post</title>
</head>
<body>
    <form action="/posts" method="POST" id="new-post">
        <input type="text" placeholder="@username" name="username" id="username"><br><br>
        <textarea name="description" cols="50" rows="5" placeholder="description"></textarea><br>
        <button class="post-btn" type="submit">Post</button>
    </form>
</body>
</html>