<%- include('include/head.ejs') %>
<body>
    <form action="/posts" method="POST" id="new-post">
        <input type="text" placeholder="@username" name="username" id="username"><br><br>
        <textarea name="description" cols="50" rows="5" placeholder="description"></textarea><br>
        <button class="post-btn" type="submit">Post</button>
    </form>
</body>
</html>